.dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

.dropdown-content a {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

.dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
            display: block;
        }
/* custom.css */
body {
    background-color: pink;
}
/* home-page1.css */
.home-page {
    background-color: lightcoral; /* Use the desired shade of light red */
    /* You can add other styles for the "home-page" class here */
}
